[Unit]
Description=Lilypad Daemon
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Install]
WantedBy=multi-user.target

[Service]
Environment="LOG_MODE=json"
Environment="HOME=/tmp"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lilypad
